<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<th:block layout:fragment="content" class="container">
	<div class="container">
		<div>
			<h1>행사, 공연정보</h1>
		</div>
		<div th:each="EVENT : ${EVENTS}" th:object="${EVENT}">
			<div th:attr="data-eventNm=*{eventNm}">
				<h3>행사, 공연 : <span th:text="*{eventNm}"></span></h3>
				<p>개최장소 : <span th:text="*{eventVenue}"></span></p>
				<p>진행기간 : <span th:text="*{eventBeginDate}"></span> ~ <span th:text="*{eventEndDate}"></span></p>
				<p>축제 내용 : <span th:text="*{eventInfo}"></span></p>
				<p>전화번호 : <span th:text="*{tel}"></span></p>
				<p>홈페이지주소 : <span th:text="*{homePage}"></span></p>
			</div>
		</div>
		<div th:each="FESTIVAL : ${FESTIVALS}" th:object="${FESTIVAL}">
			<div th:attr="data-festivalNm=*{festivalNm}">
				<h3>축제 : <span th:text="*{festivalNm}"></span></h3>
				<p>개최장소 : <span th:text="*{festivalVenue}"></span></p>
				<p>진행기간 : <span th:text="*{festivalBeginDate}"></span> ~ <span th:text="*{festivalEndDate}"></span></p>
				<p>축제 내용 : <span th:text="*{festivalInfo}"></span></p>
				<p>전화번호 : <span th:text="*{tel}"></span></p>
				<p>홈페이지주소 : <span th:text="*{homePage}"></span></p>
				<p>관련정보 : <span th:text="*{relatedInfo}"></span></p>
			</div>
		</div>
	</div>