<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<th:block layout:fragment="content">
	<div class="container">
	
		<div>
			<h1>지도로 찾아보기</h1>
		</div>
		<div id="map" style="width:500px;height:400px;"></div>
	</div>

<script th:src="@{/static/js/map.js?2022-08-28-002}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=020f1d2f64473138719d2e4dd3fe72a1&libraries=services,clusterer,drawing"></script>