<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<th:block layout:fragment="content">
	<div class="container">
		<div class="w3-container w3-card-4">
			<h1 class="w3-text-blue">LOGIN USER</h1>
			<h3 class="w3-text-blue">USER NAME : ${USER.username}</h3>
			<h3 class="w3-text-blue">E-mail : ${USER.email}</h3>
			<h3 class="w3-text-blue">NAME : ${USER.name}</h3>
			<h3 class="w3-text-blue">NICK NAME : ${USER.nickname}</h3>
			<h3 class="w3-text-blue">ROLE : ${USER.role}</h3>
		</div>
		<ul>
			<c:forEach items="${BUY_BOOKS}" var="BOOK">
				<li>${BOOK.book.isbn},&nbsp;&nbsp;${BOOK.book.title},&nbsp;&nbsp;${BOOK.book.author}</li>
			</c:forEach>
		</ul>
	</div>