<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<style th:inline="text">
  		[(${css})]
  	</style>
  	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>광주 관광 축제</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" 
			th:href="@{/static/css/main.css?2022-08-29-038}">
	<link rel="stylesheet" 
			th:href="@{/static/css/user.css?2022-08-29-036}">
	<script th:inline="javascript">
		const rootPath = /*[[@{/}]]*/ /
	</script>		
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=020f1d2f64473138719d2e4dd3fe72a1"></script>
	
	<script th:src="@{/static/js/main.js?2022-08-31-027}"></script>
	<script th:src="@{/static/js/login.js?2022-08-31-002}"></script>
	<script th:src="@{/static/js/join.js?2022-08-31-002}"></script>
	<script th:src="@{/static/js/search.js?2022-08-31-019}"></script>
	
</head>		