<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout">
	
<nav th:fragment="nav">
	<div class="ul">
		<div title="메뉴" class="li ham-btn">
			<span class="material-icons"> density_medium </span>
		</div>
		<div class="li logo">
			<p>Culture of 광주</p>
		</div>
		<div class="searchbar li">
			<input id="search" name="search" type="search">
		</div>
		<div class="right-nav">
			<div title="회원가입" class="right-btn li join">
				<a href="user/join"><span class="material-icons"> person_add </span></a>
			</div>
			<div title="로그인" class="right-btn li login">
				<a href="user/login"><span class="material-icons">login</span></a>
			</div>
			<div title="로그아웃" class="right-btn li logout invisible">
				<a href="user/logout"><span class="material-icons">logout</span></a>
			</div>
			<div title="마이페이지" class="right-btn li mypage invisible">
				<a href="user/mypage"><span class="material-icons">person</span></a>
			</div>
		</div>
	</div>
	<div class="w3-light-grey slide-menu">
		<div class="top-menu">
			<div class="material-icons menu-icon">home</div>
			<div>
				<p>홈</p>
			</div>
		</div>
		<div class="top-menu">
			<div class="material-icons menu-icon">tour</div>
			<div>
				<p>광주 여행</p>
			</div>
		</div>
		<div class="top-menu">
			<div class="material-icons menu-icon">festival</div>
			<div>
				<p>광주의 즐길거리</p>
			</div>
		</div>
		<div class="top-menu">
			<div class="material-icons menu-icon">museum</div>
			<div>
				<p>다양한 시설</p>
			</div>
		</div>
		<div class="top-menu">
			<div class="material-icons menu-icon">map</div>
			<div>
				<p>지도로 찾아보기</p>
			</div>
		</div>
		<div class="top-menu">
			<div class="material-icons menu-icon">event</div>
			<div>
				<p>캘린더로 찾아보기</p>
			</div>
		</div>
	</div>
</nav>