<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<style th:inline="text">
  		[(${css})]
  	</style>
  	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>광주 관광 축제</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" 
			th:href="@{/static/css/main.css?2022-08-23-010}">
	<script th:inline="javascript">
		const rootPath = /*[[@{/}]]*/ /
	</script>		
	<script th:src="@{/static/js/main.js?2022-08-25-006}"></script>
	<script th:src="@{/static/js/list.js?2022-08-23-001}"></script>	
		
</head>		