<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout">
<nav th:fragment="nav">
	<ul>
		<li><span class="material-icons"> density_medium </span></li>
		<li>Culture of 광주</li>
		<li><form><input name="search" type="search"></form></li>
	</ul>
	<div class="slide-menu w3-light-grey">
		<div class="top-menu">홈</div>
		<div class="top-menu">광주 여행</div>
		<div class="top-menu">광주의 즐길거리</div>
		<div class="top-menu">다양한 시설</div>
		<div class="top-menu">지도로 찾아보기</div>
		<div class="top-menu">캘린더로 찾아보기</div>
	</div>
</nav>