<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="htpp://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="container">
		<div class="home-Container">
			<div class="eventBox">
				<h2>행사,공연정보</h2>
				<div th:each="EVENT,status : ${EVENTS}" th:object="${EVENT}"
					th:if="${status.count} < 5" class="dataBox">
					<div th:attr="data-eventNm=*{eventNm}">
						<h6>
							<span th:text="*{eventNm}"></span>
						</h6>
					</div>
				</div>
				<div class="moreView eventHref">
					<h3>
						<span class="material-icons">add</span>더보기
					</h3>
				</div>
			</div>
			<div class="festivalBox">
				<h2>축제정보</h2>
				<div th:each="FESTIVAL,status : ${FESTIVALS}"
					th:object="${FESTIVAL}" th:if="${status.count} < 5" class="dataBox">
					<div th:attr="data-festivalNm=*{festivalNm}">
						<h6>
							<span th:text="*{festivalNm}"></span>
						</h6>
					</div>
				</div>
				<div class="moreView festivalHref">
					<h3>
						<span class="material-icons">add</span>더보기
					</h3>
				</div>
			</div>
			<div class="msmartglrBox">
				<h2>문화시설정보</h2>
				<div th:each="MSMARTGLR,status : ${MSMARTGLRS}"
					th:object="${MSMARTGLR}" th:if="${status.count} < 5"
					class="dataBox">
					<div th:attr="data-msmArtGlrNm=*{msmArtGlrNm}">
						<h6>
							<span th:text="*{msmArtGlrNm}"></span>
						</h6>
					</div>
				</div>
				<div class="moreView msmartglrHref">
					<h3>
						<span class="material-icons">add</span>더보기
					</h3>
				</div>
			</div>
			<div class="tourBox">
				<h2>관광지정보</h2>
				<div th:each="TOUR,status : ${TOURS}" th:object="${TOUR}"
					th:if="${status.count} < 5" class="dataBox">
					<div th:attr="data-tourDestNm=*{tourDestNm}">
						<h6>
							<span th:text="*{tourDestNm}"></span>
						</h6>
					</div>
				</div>
				<div class="moreView tourHref">
					<h3>
						<span class="material-icons">add</span>더보기
					</h3>
				</div>
			</div>
			<div class="ruinBox">
				<h2>문화유적정보</h2>
				<div th:each="RUIN,status : ${RUINS}" th:object="${RUIN}"
					th:if="${status.count} < 5" class="dataBox">
					<div th:attr="data-localCultHeritNm=*{localCultHeritNm}">
						<h6>
							<span th:text="*{localCultHeritNm}"></span>
						</h6>
					</div>
				</div>
				<div class="moreView ruinsHref">
					<h3>
						<span class="material-icons">add</span>더보기
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
